env:
  train:
    env_type: calvin
    task_suite_name: calvin_d
    total_num_envs: 64
    auto_reset: false
    ignore_terminations: false
    max_steps_per_rollout_epoch: 480
    max_episode_steps: 480
    use_rel_reward: true
    reward_coef: 1.0
    seed: 0
    group_size: 1
    use_fixed_reset_state_ids: false
    use_ordered_reset_state_ids: false
    is_eval: false
    video_cfg:
      save_video: true
      info_on_video: true
      video_base_dir: /root/autodl-tmp/RLinf/logs/20260123-22:08:59/video/train
    init_params:
      camera_heights: 200
      camera_widths: 200
  eval:
    env_type: calvin
    task_suite_name: calvin_d
    total_num_envs: 50
    auto_reset: true
    ignore_terminations: true
    max_steps_per_rollout_epoch: 9600
    max_episode_steps: 480
    use_rel_reward: true
    reward_coef: 1.0
    seed: 0
    group_size: 1
    use_fixed_reset_state_ids: true
    use_ordered_reset_state_ids: true
    is_eval: true
    video_cfg:
      save_video: true
      info_on_video: true
      video_base_dir: /root/autodl-tmp/RLinf/logs/20260123-22:08:59/video/eval
    init_params:
      camera_heights: 200
      camera_widths: 200
  group_name: EnvGroup
  enable_offload: false
actor:
  model:
    model_type: openpi
    model_path: /path/to/model/RLinf-Pi0-SFT
    precision: null
    num_action_chunks: 5
    action_dim: 7
    is_lora: false
    lora_rank: 32
    use_proprio: true
    num_steps: 5
    add_value_head: true
    openpi:
      config_name: pi0_calvin
      num_images_in_input: 2
      noise_level: 0.5
      action_chunk: 5
      num_steps: 5
      train_expert_only: true
      action_env_dim: 7
      noise_method: flow_sde
      add_value_head: true
      detach_critic_input: true
      joint_logprob: false
  fsdp_config:
    strategy: fsdp
    sharding_strategy: no_shard
    gradient_checkpointing: false
    cpu_offload: false
    offload_pin_memory: false
    reshard_after_forward: true
    enable_gradient_accumulation: true
    forward_prefetch: false
    limit_all_gathers: false
    backward_prefetch: null
    use_orig_params: false
    use_liger_kernel: false
    fsdp_size: -1
    mixed_precision:
      param_dtype: null
      reduce_dtype: null
      buffer_dtype: null
    amp:
      enabled: false
      precision: bf16
      use_grad_scaler: false
  group_name: ActorGroup
  training_backend: fsdp
  micro_batch_size: 128
  global_batch_size: 2048
  seed: 42
  enable_offload: false
  optim:
    lr: 5.0e-06
    value_lr: 0.0001
    adam_beta1: 0.9
    adam_beta2: 0.95
    adam_eps: 1.0e-05
    clip_grad: 1.0
    critic_warmup_steps: 0
cluster:
  num_nodes: 1
  component_placement:
    actor,env,rollout: all
runner:
  task_type: embodied
  logger:
    log_path: /root/autodl-tmp/RLinf/logs/20260123-22:08:59
    project_name: rlinf
    experiment_name: calvin_d_d_ppo_openpi
    logger_backends:
    - tensorboard
  max_epochs: 1000
  max_steps: -1
  only_eval: true
  val_check_interval: -1
  save_interval: 100
  resume_dir: null
  ckpt_path: null
algorithm:
  normalize_advantages: true
  kl_penalty: kl
  group_size: 1
  reward_coef: 1.0
  rollout_epoch: 8
  eval_rollout_epoch: 1
  reward_type: chunk_level
  logprob_type: chunk_level
  entropy_type: token_level
  update_epoch: 4
  adv_type: gae
  loss_type: actor_critic
  loss_agg_func: token-mean
  kl_beta: 0.0
  entropy_bonus: 0
  clip_ratio_high: 0.2
  clip_ratio_low: 0.2
  clip_ratio_c: 3.0
  value_clip: 0.2
  huber_delta: 10.0
  gamma: 0.99
  gae_lambda: 0.95
  filter_rewards: false
  rewards_lower_bound: 0.1
  rewards_upper_bound: 0.9
  sampling_params:
    do_sample: true
    temperature_train: 1.0
    temperature_eval: 0.6
    top_k: 50
    top_p: 1.0
    repetition_penalty: 1.0
    add_BOS: false
  length_params:
    max_new_token: null
    max_length: 1024
    min_length: 1
rollout:
  group_name: RolloutGroup
  generation_backend: huggingface
  recompute_logprobs: false
  enable_offload: false
  pipeline_stage_num: 1
  model:
    model_path: /path/to/model/RLinf-Pi0-SFT
    precision: null
reward:
  use_reward_model: false
critic:
  use_critic_model: false
